body {
  font-family: "Poppins", sans-serif;
  background-color: cadetblue;
  color: white;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
}

p {
  font-size: 0.8em;
  font-weight: 300;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

input::placeholder {
  color: white;
  display: flex;
  justify-content: center;
}

button {
  color: cadetblue;
  background-color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1.2em;
  width: auto;
  height: auto;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#title {
  margin-bottom: 30px;
}

#description {
  margin-bottom: 10px;
}

#inputField {
  display: flex;
  justify-content: center;
}

#memberEntry {
  margin-bottom: 10px;
}

#add-member-button {
  height: 50px;
  width: 50px;
}

#memberList {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#paymentName {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-right: 10%;
}

#paymentInputContainer {
  display: flex;
  justify-content: center;
}

#paymentTitleInput {
  width: 20%;
  border: 1px solid white;
  border-radius: 10px;
}

#paymentTitleInput::placeholder {
  font-size: 0.8em;
}

#paymentAmountInput {
  width: 20%;
  border: 1px solid white;
  border-radius: 10px;
}

#paymentAmountInput::placeholder {
  font-size: 0.8em;
}

#paymentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.payment-items-box {
  font-size: 70px;
  margin: 20px 20px;
}

.payment-item {
  text-align: center;
}

.vstack {
  display: flex;
  flex-direction: row;
}

.member-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.member-name {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}

.member-buttons {
  display: flex;
  justify-content: right;
}
.item-list {
  font-size: 200px;
}

.member-button {
  height: 55px;
  width: 55px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  font-size: 80%;
  border: 1px solid white;
}
