body {
  font-family: "Poppins", sans-serif;
  background-color: cadetblue;
  color: white;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

p {
  font-size: 1em;
  font-weight: 300;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

input::placeholder {
  color: white;
}

button {
  color: cadetblue;
  background-color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1.2em;
  width: auto;
  height: auto;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#title {
  margin-bottom: 30px;
}

#description {
  margin-bottom: 10px;
}

#memberEntry {
  margin-bottom: 10px;
}

#add-member-button {
  height: 50px;
  width: 50px;
}

#memberList {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.member-container {
  display: flex;
}

.member-name {
  font-size: 20px;
  font-weight: 700;
}

.add-payment-button {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}